body {
  box-sizing: border-box;
}
/* Common */
img {
  max-width: 100%;
}
.img-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
 /* Media Queries */
@media all and (max-width: 400px) {


  body {
    margin: 10px;
  }

  p {
    font-size: 20px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 22px;
  }
}

@media all and (min-width: 768px) {
  body {
    background-color: grey;
    margin: 20px;
  }

  p {
    font-size: 18px;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  article {
    
    width: 48%;
  }
}
@media all and (min-width: 1024px) {
  body {
    background-color: #A8EB12;
    margin: 15px;
    max-width: 1080px;
  }
  .img-wrapper article {
    width: 30%;
  }
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 32px;
  }
}