/* Layout */
/* Common Layout */
.container {
  max-width: 1160px;
  margin: auto;
}

.custom-height {
  height: 100vh;
}

.txt-cen {
  text-align: center;
}

hr {
  border: 1px solid #e2dddd;
}
.card {
  border-radius: 15px;
  background-color: #fff;
  min-width: 180px;
  max-height: 250px;
  padding: 20px 0;
  margin: 10px auto;
}

.card:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

img {
  max-width: 100%;
}
/* Flexbox Utility Classes */
.dp-fx {
  display: flex;
}

.fx-jc-sb {
  justify-content: space-between;
}

.fx-jc-sa {
  justify-content: space-around;
}

.fx-jc-c {
  justify-content: center;
}

.fx-jc-c {
  justify-content: center;
}

.fx-fd-col {
  flex-direction: column;
}

.fx-fd-row {
  flex-direction: row;
}

.fx-ai-c {
  align-items: center;
}

.fx-ai-fe {
  align-items: flex-end;
}

.fx-ai-fs {
  align-items: flex-start;
}

.fx-wrap {
  flex-wrap: wrap;
}

.fx-nowrap {
  flex-wrap: nowrap;
}
/* Position Classes */
.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

main section {
  padding: 80px 20px;
}